// normal button
button {
    background: transparent;
    color: $white;
    width: 100px;
    height: 40px;
    line-height: 40px;
    border: 0;
    border-radius: $radius;
    text-align: center;
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
    transition: background 0.3s ease-in-out;

    &:active {
        @include btnAnimation;
    }

    &:focus {
        outline: none;
        // box-shadow: 0 0 0 2px #ccc;
    }

}

// close button
.xBtn,
.aBtn {
    position: relative;
    margin-top: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;

    &:hover {
        background-color: $borderColor;
    }

    i {
        width: 100%;
        height: 100%;
        display: block;
    }

    span {
        position: absolute;
        top: 4px;
        left: 0;
        right: 0;
        margin: auto;
        display: block;
        width: 2px;
        height: 12px;
        background-color: $subTextColor;
        transform: rotate(45deg);

        &:last-child {
            transform: rotate(-45deg);
        }
    }

}