nav {
    height: 80px;

    #logo,
    #mode {
        height: 50px;
        margin-top: 15px;
    }

    // logo
    #logo {
        float: $floatLeft;
        margin-left: 20px;
        text-decoration: none;
        user-select: none;

        img,
        span {
            float: $floatLeft;
        }

        img {
            height: 30px;
            vertical-align: bottom;
            margin: 10px 10px 0 0;
        }

        span {
            line-height: 50px;
            color: $white;
            text-transform: capitalize;

            font: {
                size: 25px;
                weight: bold;
            }
        }

    }

    // mode
    #mode {
        position: relative;
        float: $floatRight;
        width: 50px;
        margin-right: 20px;


        button.toggleMode {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;

            svg {
                fill: $yellow;
                width: 30px;
                height: 30px;
                margin: 10px;
                transform: rotate(25deg);
                transform-origin: center;
                animation: toggleMode 0.6s cubic-bezier(0.19, 0.54, 0, 1.52);
            }

        }

        button.activeMode {
            display: none;
        }

    }

}

// keyframes
@keyframes toggleMode {
    from {
        transform: rotate(25deg);
    }

    to {
        transform: rotate(385deg);
    }
}