// lan
$direction: 'en';
$floatLeft: left;
$floatRight:right;
$textLeft:left;
$textRight:right;

// *colors
// generic
$white:#fff;
$borderColor:#f1f3f4;

// text
$mainTextColor: #384258;
$subTextColor:#8a898b;

// bg
$blue:#417ff5;
$gray:#c8cacc;
$darkGray:#dee1e6;
$red:#fc6159;
$green:#29ca42;
$yellow:#fbc32f;

// font
$font:'Lato',
Helvetica,
Arial,
sans-serif;

// other
$radius:5px;
$shadow:rgba(0, 9, 128, .05);