// !START SEO
meta(name="description" content="My Note is a flexible and free web app to organize your plans, projects, and more.")
meta(name="author" content="Eissa Saber")
// START SHARE
// All Websites
meta(property="og:title" content="My Note")
meta(property="og:description" content="My Note is a flexible and free web app to organize your plans, projects, and more.")
meta(property="og:image" content="https://eissa.xyz/my-note/img/thumbnail.jpg")
meta(property="og:url" content="https://eissa.xyz/my-note")
meta(property="og:site_name" content="My Note")
meta(property="og:type" content="website")
// Twitter
meta(name="twitter:card" content="summary")
meta(name="twitter:title" content="My Note")
meta(name="twitter:description" content="My Note is a flexible and free web app to organize your plans, projects, and more.")
meta(name="twitter:image" content="https://eissa.xyz/my-note/img/thumbnail.jpg")
// END SHARE
link(href="https://eissa.xyz/my-note" rel="canonical")
meta(name="robots" content="index, follow")
// !END SEO
