@import "../helpers/variables";
@import "../helpers/functions";
@import "../helpers/mixins";

* {
    @include reset;

    &::before {
        @include reset;
    }

    &::after {
        @include reset;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

html,
body {
    @include reset;
    @include body;
    @include hideNumArrow;
}

main {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 40px);
    background-image: linear-gradient(rgba(65, 127, 245, 0.5), rgba(65, 127, 245, 0.5)), url('../img/header.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-bottom: 50px;
}